<launch>

    <node pkg="hybrid_astar" name="hybrid_astar" type="hybrid_astar"/>
    <node pkg="hybrid_astar" name="hybrid_astar" type="conv"/>

  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>
  </node>

</launch>